{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/formLivre.css') }}">
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<h1>{{title}}</h1>

{{ form(form) }}

{% endblock %}